body {
  font-family: "Inter Variable", sans-serif;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.animated_animated.animate_animate__zoomIn {
  --animate-duration: "0.5s";
}
